<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.CalculatorAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calculator_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.QuickCalcWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_quick_calc" />
        </receiver>

        <receiver
            android:name=".widget.HistoryWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_history" />
        </receiver>

        <service
            android:name=".widget.HistoryWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <receiver
            android:name=".widget.QuickConversionWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_conversion" />
        </receiver>

        <receiver
            android:name=".widget.GstWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_gst" />
        </receiver>

        <receiver
            android:name=".widget.EmiWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_emi" />
        </receiver>

        <receiver
            android:name=".widget.ShortcutGridWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_shortcuts" />
        </receiver>

        <receiver
            android:name=".widget.FormulaWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_formula" />
        </receiver>

        <receiver
            android:name=".widget.VariableWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_variable" />
        </receiver>

        <receiver
            android:name=".widget.PercentageWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_percentage" />
        </receiver>

        <receiver
            android:name=".widget.ClipboardWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_clipboard" />
        </receiver>

        <receiver
            android:name=".widget.WidgetActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.widget.ACTION_QUICK_CALC_KEY" />
                <action android:name="com.example.widget.ACTION_CONVERSION_SWAP" />
                <action android:name="com.example.widget.ACTION_CONVERSION_TOGGLE_TYPE" />
                <action android:name="com.example.widget.ACTION_GST_TOGGLE_MODE" />
                <action android:name="com.example.widget.ACTION_GST_CYCLE_RATE" />
                <action android:name="com.example.widget.ACTION_GST_ADJUST_AMOUNT" />
                <action android:name="com.example.widget.ACTION_EMI_ADJUST_TENURE" />
                <action android:name="com.example.widget.ACTION_EMI_ADJUST_RATE" />
                <action android:name="com.example.widget.ACTION_PERCENT_ADJUST_RATE" />
                <action android:name="com.example.widget.ACTION_PERCENT_ADJUST_BASE" />
                <action android:name="com.example.widget.ACTION_FORMULA_CYCLE" />
                <action android:name="com.example.widget.ACTION_CYCLE_THEME" />
                <action android:name="com.example.widget.ACTION_CLIPBOARD_DO" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
